.row{
    margin-top: 2rem;
}
.row>h2{
    display: flex;
    color: rgb(226, 226, 226);
    justify-content: flex-start;
    padding-left: 10px;
    margin: 0;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px;
    height: 100px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__poster__link{
    width: 90%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}
.row__poster__link:hover, .loadingSquare:hover{
    transform: scale(1.06);
    cursor: pointer;
}

.row__poster__image{
    object-fit: contain;
    max-height: 100px;
}


.loading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px;
    height: 120px;
}
.loadingSquare{
    width: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
    background-color: #13212b;
}
.loader{
    height: 50px;
}