.search{
    z-index: 103;
    margin-top: 49px;
}

.search__container{
    width: 100%;
    height: 100%;
    min-height: 1000px;
    overflow: hidden;
}

.search__input{
    position: absolute;
    z-index: 101;
    width: 50%;
    height: 30px;
    top: 15px;
    left: 20%;
    background: none;
    border: solid 1px #fb8022a1;
    border-radius: 3px;
    color: #fb8022;
}


.search__input:focus{
    outline: none !important;
    border: solid 1px #fb8022;
}

.search__images{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.search__image{
    width: 22%;
    height: 100%;
    margin: 0 1rem 1rem 1rem;
    object-fit: fill;
}
.search__image>img{
    width: 100%;
}

.loadingSearch{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingSearch>h2{
    color: #fb8022;
}

@media all and (min-width: 250px) and (max-width: 910px){
    .search__input{
        position: absolute;
        width: 70%;
        height: 30px;
        top: 4rem;
        left: 15%;
    }

    .search{
        z-index: 98;

    }

    .search__images{
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search__image{
        width: 90%;
        height: 100%;
        margin: 0 1rem 0 1rem;
        object-fit: fill;
    }
}


@media all and (min-width: 910px) and (max-width: 1064px){
    .search__images{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .search__image{
        width: 28%;
        height: 100%;
        margin: 0 1rem 1rem 1rem;
        object-fit: fill;
    }
}